@font-face {
    font-family: 'Lora';
    src: url('font/Lora-VariableFont_wght.woff2') format('woff2'),
         url('font/Lora-VariableFont_wght.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

:root {
--primary-color: hsl(71, 11%, 45%);
--secondary-color: hsl(58, 42%, 87%);
--accent-color: hsl(30, 45%, 95%);
--text-color: hsl(69, 9%, 33%);
--background-color: hsl(22, 39%, 90%); 
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    scroll-padding-top: 6em;
    font-family: 'Lora', sans-serif;
    letter-spacing: 1px;
    line-height: 1;
}

body {
    background-color: #fff;
    color: var(--text-color);
}

/* reusable*/

.row {
    max-width: 1066px;
    width: calc(100% - 1.32em);
    margin: 1.32em auto;
    background-color: var(--background-color);
    display: grid;
    gap: 0.66em;
    padding: 1em;
    border-radius: 1em;
    box-shadow: 0px 0px 10px var(--background-color);
}

.row > * {
    display: grid;
    gap: 0.3em;
}

.narrow {
    border: 2px solid var(--primary-color);
    border-radius: 0.66em;
    max-width: 710.6px;
    width: calc(100% - 1.32em);
    margin: 0 auto;
    margin-top: 0.66em;
    /* background-color: var(--accent-color); */
}

.narrow p {
    padding: 1.33em;
}

h2 {
    text-align: center;
}

h3 {
    text-align: center;
    padding-top: 1em;
}

main p, textarea {
    font-size: 1em;
    letter-spacing: 0.01em;
    word-spacing: 0.015em;
    line-height: 1.3em;
    }

/******************** ikony u sekcí ******************/

.ico-box {
    position: relative;
    max-width: 1066px;
    width: 100%;
    margin: 0 auto;
}

.ico-box .ico {
    position: absolute;
    height: 3em;
    left: 0.66em;
    top: 0.33em;
}

.ico img {
    height: 100%;
}

/******************* Galerie ****************/

.gallery {
    background-color: var(--accent-color);
    padding: 0.66em 0;
}

.gallery > * {
    margin: 0 auto;
    border-radius: 1em;
    max-width: 710.6px;
}

.gallery .row {
    background-color: var(--background-color);
    box-shadow: 0px 0px 10px var(--background-color);
} 

.gallery-box {
    max-width: 1154.9px;
    width: calc(100% - 1.32em);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 0.66em;
}

.gallery-box > * {
    display: grid;
    place-content: center;
    width: 100%;
    aspect-ratio: 2 / 1;
    overflow: hidden;
}

.gallery-box div img {
    width: 100%;
    max-width: none;
    object-fit: cover;
}

/***************** Navigace ***************/

nav {
    position: fixed;
    margin: 0 auto;
    width: 100%;
    background-color: var(--secondary-color);
    z-index: 100;
}

#navbar {
    display: grid;
    grid-auto-flow: column;
    place-content: center;
    grid-template-columns: minmax(auto, 7.5em) 1fr;
    grid-auto-rows: 5em;
    gap: 1em;
    max-width: 1280px;  
    vertical-align: center; 
    margin: 0 auto
}

/**** Nav Logo ****/

#nav-logo {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    top: 0.66em;
    left: 0.66em;
    height: 5em;
    z-index: 101;
    flex: 0 1 7.5em;
}

nav img {
     width: 80%;
     max-width: 7.5em;
}

/**** Nav buttons *****/

nav ul {
    display: flex;
    justify-content: right;
    align-content: end;
    gap: 1em;
    padding-right: 1em;
}

nav ul li {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 0 1 6em;
}

nav ul li a:link,
nav ul li a:visited {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    border: 2px solid var(--secondary-color);
    border-radius: 1em;
    box-shadow: 0px 0px 6px var(--primary-color);
    max-width: 7.5em;
    min-width: 6em;
    width: 100%;    
    height: 3em;
    line-height: 3em;
    font-size: 0.88em;
    transition: 0.5s;
}

nav ul li a:hover,
nav ul li a:active {
   transition: 0.5s;
   color: var(--primary-color);
   background-color: #fff;
   box-shadow: 0px 0px 8px #fff;
   border: 2px solid var(--primary-color);
}

/***** nav shape ****/

.nav-shape {
    position: absolute;
    top: 5em;
    left: 0em;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.nav-shape svg {
    position: relative;
    display: block;
    width: calc(199% + 1.3px);
    height: 1.66em;
    transform: rotateY(180deg);
}

.nav-shape .shape-fill {
    fill: var(--secondary-color);
}

/*************************** header */

header {
    background: url("../images/uvod-900-vzor.jpg");
    background-position: center;
    background-size: cover;
    height: 100vh;
    background-attachment: fixed;
}

#header-box {
    position: absolute;
    transform: translate(-50%,-50%);
    width: calc(100% - 8em);
    max-width: 33em;
    background-color: var(--secondary-color);
    top: 66%;
    left: 50%;
    display: grid;
    gap: 0.44em;
    padding: 0.66em;
    border: 0.25em solid var(--primary-color);
    border-radius: 1em;

}

#header-box > * {
    z-index: 50;
    color: var(--primary-color);
    display: grid;
    place-content: center;
    font-weight: 900;
    text-align: center;
}

h1 {
    font-size: 2em;
    letter-spacing: 0.02em;
}

#date {
    font-size: 1.33em;
    letter-spacing: 0.03em;
}

#slogan {
    font-size: 1em;
    letter-spacing: 0.03em;
}

/** header listy */

#spade-left {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 3em;
    height: auto;
    transform: translate(calc(-100% - 0.25em),-25%);
}

#spade-right {
    position: absolute;
    top: 0;
    right: 0;
    width: 3em;
    height: auto;
    transform: translate(calc(100% + 0.25em), 25%);
}

/******************** Místo konání ******/

#misto-box {
    place-content: center;
    grid-template-columns: 1fr 1fr;
    gap: 0.66em;
}

#misto-box > * {
    display: grid;
    place-content: center;
    gap: 0.33em;
    margin-top: 1em;
}

#misto-text p {
    line-height: 1;

}

/***** místo konání img *****/

#misto-img {
    width: 100%;
    height: 8.2em;
    overflow: hidden;
}

#misto-img img {
    width: 100%;
    height: auto;
    position: relative;
    top: 13px;
}

/***** Mapa *****/

#misto-map {
    width: 100%;
    height: 12.3em;
    position: relative;
}

#misto-map iframe {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

/****************** Program */

#program-line hr {
    border-radius: 0.25em; 
    background-color: var(--text-color);
    border: 0;
    margin-bottom: 5.55em;
}

#pr-main-line {
    position: absolute;
    left: 50%;
    width: 0.33em; 
    height: 29.7em;
    transform: translate(-50%, 0%);
}

.pr-line {
    height: 0.33em; 
    width: 50%;
    margin-bottom: 1em;
}

#program-layout {
    display: grid;
    /* background-color: var(--accent-color); */
    border: 2px solid var(--primary-color);
    border-radius: 0.66em;
    width: calc(100% - 2em);
    max-width: 473.7px;
    grid-template-columns: 8.7425em 1fr 8.7425em;
    grid-template-areas: "p1 tr p2" "p3 tr p4" "p5 tr p6" ;
    margin: 1em auto 0 auto;
    padding: 1em 1em 3em 1em;
    column-gap: 0em;
}

#program-line {
    grid-area: tr;
    margin-top: 3em;
}

#one-program-p1 {
    grid-area: p1;
}

#one-program-p2 {
    grid-area: p2;
}

#one-program-p3 {
    grid-area: p3;
}

#one-program-p4 {
    grid-area: p4;
}

#one-program-p5 {
    grid-area: p5;
}

#one-program-p6 {
    grid-area: p6;
}

#program-line hr:nth-child(odd) {
    margin-left: auto;
}

#program-line hr:last-child {
    margin-bottom: 0;
}

.one-program-box {
    display: grid;
    grid-auto-flow: row;
    grid-auto-rows: 4em 1em 1em;
    gap: 0.33em;
    padding: 1em 0;
    margin-bottom: 2.914em;
}

.one-program-box > * {
    text-align: center;
}

.one-program-box-img img {
    height: 100%;
    }

#program-layout .one-program-box:nth-child(even) {
    position: relative;
    top: 6em;
}

/**************** Info ****************/

#info-box, #info-ban {
    grid-template-columns: repeat(2, 1fr);
    gap: 1em;
    padding: 0 0.66em;
    margin-top: 1em;
}

.one-info-box {
    display: grid;
    gap: 0.66em;
    padding: 0.33em;
    min-height: 13.3em; 
    align-content: start;
    /* background-color: var(--accent-color); */
    border: 2px solid var(--primary-color);
    border-radius: 0.66em;

}

.one-info-text {
    padding: 0.33em;
    line-height: 1.33em;
    font-size: 0.88em;
    letter-spacing: 0;
    padding-top: 0;
}

.one-info-head {
    display: flex;
    gap: 0.66em;
    height: 3em;
    padding-left: 0.66em;
    padding-top: 0.33em;
}

.one-info-head div {
    width: 3em;
}

.one-info-head img {
    height: 100%;
}

.one-info-head p {
    align-self: center;
}

/******* Info ban *******/

#info-ban > .one-info-box {
    min-height: 5.9em; 
}

#info-ban > .one-info-box > .one-info-text {
    padding-top: 0.33em;
}

#info-ban-text {
    text-align: center;
    padding: 1em;
}

.one-info-empty {
    display: none;
}  

/********************* formulář **************************/

#formular-layout {
    display: grid;
    border: 2px solid var(--primary-color);
    border-radius: 0.66em;
    width: calc(100% - 2em);
    max-width: 473.7px;
    grid-template-columns: 1fr;
    margin: 1em auto 0 auto;
    padding: 1em;
    gap: 0.66em;
}

form label {
    /* flex: 1; */
    line-height: 1;
    display: flex;
    align-items: center;
    gap: 0.5em;
    margin: 0;
    padding: 0;
    /* width: 100%; */
}

input {
    height: 2em;
    padding: 0.5em;
    font-size: 1em;
    border: 2px solid var(--primary-color);
    border-radius: 0.5em;
    background: var(--accent-color);
    transition: 0.5s;
}

input[type=text], input[type=email] , input[type=tel] , input[type=number] {
    box-sizing: border-box;
    width: 100%;
}

input[type=radio], input[type=checkbox] {
    margin-right: 0.33em;
}

#form-partic, #form-kids-num {
    display: grid;
    gap: 0.66em;
}

#form-partic label, #form-kids-num label {
    border: 2px solid var(--primary-color);
    border-radius: 0.5em;
    height: 2em;
    padding-left: 0.5em;
    font-size: 1em;
    cursor: pointer;
    background: var(--accent-color);
    transition: 0.5s;
}

#form-kids-num {
    grid-template-columns: repeat(2, 1fr);
}

textarea {
    padding: 0.5em 1em;
    max-width: 100%;
    height: 6em;
    border: 2px solid var(--primary-color);
    border-radius: 0.33em;
    resize: vertical;
    background: var(--accent-color);
    transition: 0.5s;
}

/** formulář hover **/

#form-partic label:hover, #form-kids-num label:hover, textarea:hover, input[type=text]:hover, input[type=email]:hover, input[type=tel]:hover, input[type=number]:hover {
    transition: 0.5s;
    color: var(--accent-color);
    border: 2px solid var(--accent-color);
    background: var(--primary-color);
    box-shadow: 0px 0px 6px var(--primary-color);
}

input:hover::placeholder, textarea:hover::placeholder {
    color: var(--accent-color);
    transition: 0.5s;

}

/** formulář focus **/

input[type="text"]:focus, input[type="email"]:focus, input[type="tel"]:focus, input[type="number"]:focus, textarea:focus {
    background: var(--secondary-color);
    color: var(--text-color);
    outline: 1px solid var(--primary-color);
    border: 1px solid var(--primary-color);
    box-shadow: 0px 0px 5px var(--primary-color);
    transition: 0.5s;
}

input:focus::placeholder, textarea:focus::placeholder {
    color: var(--text-color);

}

/** formulář button **/

#form-submit {
    display: grid;
    place-content: center;
    width: 100%;

}

#form-submit button {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    border: 2px solid var(--secondary-color);
    border-radius: 1em;
    box-shadow: 0px 0px 6px var(--primary-color);
    padding: 0;
    width: 7em;
    height: 2.33em;
    line-height: 2.33em;
    font-size: 1.33em;
    transition: 0.5s;
}

#form-submit button:hover {
    transition: 0.5s;
    color: var(--primary-color);
    background-color: #fff;
    box-shadow: 0px 0px 8px #fff;
    border: 2px solid var(--primary-color);
}

/** formulář čára mezi **/

form hr {
    width: calc(100% + 2em);
    height: 1px;
    background-color: var(--primary-color);
    border: 0;
    transform: translate(-1em, 0);
    margin: 0.33em 0;
}

/** formulář hvězda **/

.form-star-box {
    position: relative;
}

.form-star {
    position: absolute;
    transform: translate(-50%, -50%);
    bottom: 0.5em;
    right: -1.05em;
    color: #c71a10;
    z-index: 50;
    /* font-weight: bold; */
}


.form-star-text {
    display: inline;
    color: #c71a10;
    line-height: 1;
    font-size: 0.8em;
    vertical-align: top;
    /* font-weight: bold; */
}

/********************* QR kód foto **************************/

#qr-photo-box {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 3fr 1fr;
    gap: 1em;
}

#qr-photo-box p {
    font-size: 1em;
    letter-spacing: 0.01em;
    word-spacing: 0.015em;
    padding: 1em;
    line-height: 1.3em;
    align-content: start;
}


#qr-photo-box-img {
    width: 100%;
}

#qr-photo-box-img img {
    width: calc(100% - 1em);
    border: 2px solid var(--primary-color);
    border-radius: 0.66em;
    margin: 1em;
}

/************************ footer **********************/

footer {
    height: calc(100vh - 5em);
    margin: 0 auto;
}

#footer-box {
    margin: 2em;
    max-width: 100%;
    height: 100%;
    padding: 2em 0;
}

#footer-layout {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 2fr 1fr;
    place-content: center;
    max-width: 1066px;
    border: 2px solid var(--primary-color);
    border-radius: 1em;
    height: 100%;
    margin: 0 auto;
}

#footer-layout > * {
    display: grid;
    place-content: center;
}

#footer-layout p {
    font-size: 2em;
    letter-spacing: 0.02em;
    word-spacing: 0.03em;
    padding: 2em;
    line-height: 1.3em;
    text-align: center;
    align-content: start;
}

#footer-logo {
 max-width: 100%;
 width: 100%;
 place-content: center;
}

#footer-logo img {
    max-width: 500px;
    width: 90%;
    margin: 0 auto;

}

/********************** querry pro minimální šířku pro tablety */

@media (max-width: 550px) {

    * {
        scroll-padding-top: 4.7em;
    }

    .gallery .row .narrow {
        padding-left: 0em;
        padding-right: 0em;
    }

    /* Navigace Zmizení úvodu */
    nav ul li:first-child {
        display: none;
    }

    /**** navigace zakotvení loga ***/

    #nav-logo {
        top: 0;
    }

    nav img {
        max-width: 5em;
   }

    /**** footer velikost k navigaci *******/
    
    footer {
        height: calc(100vh - 4.5em);
    }

    /*** footer velikost písma ****/

    #footer-layout p {
        font-size: 1.75em;
        letter-spacing: 0.0175em;
        padding: 1.75em;
    }

    /***** Místo konání text *****/

    #misto-text {
        font-size: 0.81em;
    }

    /****************** Program */

    #program-layout {
        font-size: 0.88em;
        padding: 1em 1em 3em 1em;
    }
    

    /****** Info *******/

    .one-info-head {
        height: 2.2em;
    }
    
    .one-info-head div {
        width: 2.2em;
    }
    
    .one-info-head p {
        padding-top: 0.22em;
        font-size: 0.81em;
    }

    .one-info-text {
        font-size: 0.75em;
    }

    /********************* QR kód foto *******/

    #qr-photo-box {
        grid-template-columns: 1.66fr 1fr;
        gap: 0;
        margin-right: 1em;
    }

    /*************** footer ************/

    #footer-box {
        margin-left: 1.66em;
        margin-right: 1.66e,;
    }

}

/***************************** querry pro minimální šířku pro mobily */

@media (max-width: 380px) {
    
    /* zmizení ikony u sekce */

    .ico {
        display: none;
    }

    /* Navigace Zmizení loga */
    #nav-logo {
        display: none;
    }

    #navbar {
        display: block;
        height: 3.75em;
    }

    nav ul {
        justify-content: center;
        align-content: end;
        gap: 0.75em;
        padding-left: 0.75em;
    }
    
    nav ul li {
        width: 100%
    }

    .nav-shape {
        top: 3.75em;
    } */

    /*** footer velikost písma ****/

    #footer-layout p {
        font-size: 1.3em;
        letter-spacing: 0.013em;
        padding: 1.3em;
    }

    /* text na headru */
    h1 {
        font-size: 1.33em;
    }
    
    #date {
        font-size: 1em;
    }
    
    #slogan {
        font-size: 0.75em;
    }
    
   
    /***** místo konání img *****/

    #misto-box {
        grid-template-columns: 1fr;
    }

    #misto-img {
        order: 1;
        height: 5.4em;
    }

    #misto-img img {
        
        position: relative;
        top: 6px;
    }

    /***** Místo konání text *****/

    #misto {
        gap: 1em;
    }
    #misto-text {
        font-size: 1em;
        text-align: center;
    }

    /***** Mapa *****/

    #misto-map {
        height: 8.1em;
    }

    /****************** Program */

    #program-box {
        padding-bottom: 0em;
    }

    .one-program-box {
        border: 2px solid var(--primary-color);
        margin-bottom: 0em;
        width: 8.7425em;
    }

    #program-layout {
        display: grid;
        border: 0;
        grid-template-columns: 1fr;
        grid-template-areas: "p1" "p2" "p3" "p4" "p5" "p6" ;
        margin: 0 auto;
        padding: 1em 1em 1em 1em;
        gap: 0.66em;
    }

    #program-line {
        display: none;
    }

    #program-layout .one-program-box:nth-child(even) {
        position: static;
        margin-left: auto;
    }
    
    /****** Info *******/

    #info-box {
        grid-template-columns: repeat(2, 1fr);
        gap: 0.66em;
        padding: 0 0.33em;
    }

    .one-info-head {
        height: 1.5em;
    }
    
    .one-info-head div {
        width: 1.5em;
    }
    
    .one-info-head p {
        padding-top: 0.11em;
        font-size: 0.75em;
        letter-spacing: 0.0075em;
        word-spacing: 0.0075em;
        line-height: 1.3em;
    }

    .one-info-text {
        font-size: 0.75em;

    }
    
    .one-info-box {
        margin: 0 0;
    
    }

    /****** formulář ********/

    #form-partic label, #form-kids-num label {
        font-size: 0.8em;
        padding-left: 0.4;
        gap: 0;
        height: 2.4em;
        line-height: 1.2;
    }

    textarea {
        height: 9em;
    }

    /********************* QR kód foto *******/

    #qr-photo-box {
        grid-auto-flow: row;
        grid-template-columns: 1fr;
        gap: 0;
        
    }
   
    #qr-photo-box-img {
        margin: 0 auto;
        display: grid;
        place-content: center;
        margin-right: 0em;
    }

    #qr-photo-box-img img {
        width: calc(66% - 4em);
        min-width: 200px;
        margin: 0 auto;
    }
}

/********************************* Querry pro desktop */

@media (min-width: 769px) {

    /* Obrázek na pozadí */
    header {
        background: url("../images/uvod-1920-vzor.jpg");
        background-position: center;
        background-size: cover;
    }

    /***** Místo konání text *****/

    #misto-text {
        font-size: 1.2em;
        position: relative;
        place-content: center start;
        right: -1.32em;
    }

    /***** Info *****/

    #info-box, #info-ban {
        grid-template-columns: repeat(4, 1fr);
    }

    .one-info-box {
        min-height: 16.6em;
    
    }

    .one-info-empty {
        display: block;
    }
    
    #info-ban > .one-info-box {
        min-height: 8.86em; 
    }
}

/********************************* Querry pro velké monitory */

@media (min-width: 1921px) {

    * {
        scroll-padding-top: 9em;
    }

    body {
        font-size: 24px;
    }

    .row, #footer-layout {
        max-width: 1533px;
    }

    .gallery-box {
        max-width: 1628.8125px;
    }

    #navbar {
        max-width: 1920px;
    }

    .narrow, #program-box, #formular-box {
        max-width: 1022px;
    }

    #program-layout, #formular-layout {
        max-width: 681.3px;
    }
}